body {
  background-color: #F5F5F5;
}

.title p {
  font: 36px 'Roboto', sans-serif;
  font-weight: 400;
  padding: 3%;
  background-color: white;
}

.results {
  background-color: #F5F5F5;
  padding: 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results button {
  display: none;
}

.results svg {
  display: none;
}

.results span {
  font: 14px 'Roboto', sans-serif;
  font-weight: 400;
  color: #6B6B6B;
}

@media only screen and (min-width: 1024px) {
  .title p {
    text-align: center;
  }
  .results span {
    position: absolute;
    right: 6%;
  }
  .results button {
    display: inline;
    border: none;
    background-color: transparent;
  }
  .results svg {
    display: inline;
    padding-left: 10px;
  }
}

h3 {
  font-size: 14px;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2px;
          column-gap: 2px;
}

.card-product {
  width: 100%;
  max-width: 398px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.card-product b {
  position: absolute;
  top: 3%;
  left: 6%;
  background-color: white;
  padding: 1px 15px;
}

.card-product p {
  position: absolute;
  bottom: 36.5%;
  left: 6%;
  background-color: white;
  padding: 1px 15px;
  font-weight: bold;
}

.card-product h2 {
  padding-bottom: 6.5%;
}

.card-product img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 35px 16px;
  overflow: hidden;
}

.card-product button {
  position: absolute;
  top: 3%;
  right: 12%;
  border: none;
  cursor: pointer;
  background: transparent;
}

.price-product {
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 40px;
  padding: 10px;
}

.price-product span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-product s {
  font: 12px 'Roboto', sans-serif;
  margin-left: 8px;
}

.price-product button {
  background: none;
  border: none;
}

.price-product button svg {
  position: absolute;
  right: 20px;
  top: 20px;
}

.price-product .price-product p {
  font: 16px 'Roboto', sans-serif;
  text-decoration: line-through;
  margin-left: 8px;
}

@media only screen and (min-width: 1024px) {
  .product {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .product.product-6-col {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .product.product-6-col .card-product div {
    display: none;
  }
  .product.product-6-col .card-product b {
    display: none;
  }
  .product.product-6-col .card-product p {
    display: none;
  }
  .product.product-6-col .card-product button {
    display: none;
  }
  .btn--4 path {
    fill: #9D9D9D;
  }
  .btn--6 path {
    fill: #9D9D9D;
  }
  .btn--active path {
    fill: black;
  }
}

@media screen and (min-width: 1440px) {
  .logo-container {
    position: absolute;
    left: 47.5%;
  }
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb a {
  text-decoration: none;
  color: black;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.results svg {
  display: block;
}
/*# sourceMappingURL=style.css.map */