.title {
    
    p{
        font: 36px 'Roboto', sans-serif;
        font-weight: 400;
        padding: 3%;
        background-color: $secondary-color;
    }
}
.results {
    background-color: $offwhite-color;
    padding: 3.5%;
    display: flex;
    align-items: center;
    button {
        display: none;
    }
    svg {
        display: none;
    }
    span{
        font: 14px 'Roboto', sans-serif;
        font-weight: 400;
        color: $darkgrey-color;
   
    }
}


@media only screen and (min-width: 1024px) {
    .title{
        p{
            text-align: center;
        }
    }
    .results {
        span {
            position: absolute;
            right: 6%;
        }
        button {
            display: inline;
            border: none;
            background-color: transparent;
        }
        svg{
            display: inline;
            padding-left: 10px;
        }
        
    }
}