$primary-color: black;
$secondary-color: white;
$offwhite-color: #F5F5F5;
$lightgrey-color: #DADADA;
$grey-color: #9D9D9D;
$darkgrey-color: #6B6B6B;

body {
    background-color: $offwhite-color;
}
@import "_title&subtitle.scss";
@import "_card.scss";
@import "_imgheader.scss";
@import "_products.scss";