@media screen and (min-width: 1024px) {
    .intro {
        min-height: 685px;
        position: relative;
    }
    .icon {
        display: flex;
    }
    .icon b.not-view:not(.view) {
        display: block;
        padding: 20px;
        color: black;
    }
    .icon img {
        display: none;
    }
    .cta {
        width: 33.25%;
		position: absolute;
		left: 2.5%;
		bottom: 0;
		text-align: left;
    }
    .cta a {
        justify-content: left;
    }
    .cta h2{
        margin-bottom: 15%;
    }
    .cta p:not(.overline){
        display: block;
        padding-bottom: 12%;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 800px;   
    }
    .card-text p {
        padding-bottom: 10%;
    }
    .form-footer {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        justify-items: center;
    }
   
    .form-footer h2 {
        font-size: 30px;
    }
    .social-network, .follow{
        justify-content: initial;
        padding: 0 1%;
    }
    .social-network a {
        padding: 10%;
    }
    .social {
        display: flex;
        justify-content: center;
        margin: 5%;
    }
    .privacy-policy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .privacy-policy p {
       padding: 0 10px;
    }
    .container-form {
        padding: 7%;
    }
    .send {
        display: flex;
        align-items: center;
    }
    .send a {
        margin-left: 3%;
    }
    .accordion {
        display: none;
    }
    .panel {
        overflow: visible;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    .panel .help {
        position: absolute;
        left: -25%;
    }
    .panel svg {
        position: absolute;
        left: -25%;
    }
    .panel h2 {
        display: flex;
        align-items: center;
        font: bold 16px 'Roboto', sans-serif;
        position: relative;
    }
    .panel ul li {
        padding-top: 16px;
        margin: 0;
    }
    .title p {
        text-align: center;
    }
    .results p {
        text-align: right;
    }
    

        @supports (backdrop-filter: blur(12.1px)) {
            .intro .cta {
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.75);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(12.1px);
                -webkit-backdrop-filter: blur(12.1px);
        }
    } 
}